# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

#Ignore logfiles
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/yarn-error.log
/public/assets
.byebug_history

# misc
.DS_Store
.idea
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/config/master.key
/public/packs
/public/packs-test
.yarn-integrity
database.yml


.env
